.product-detail
    gap: 1.5em
    padding: 2em
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: space-evenly

    span
        font-variant: small-caps
        font-family: 'Montserrat', sans-serif

    h2
        font-weight: 400
        font-weight: 900
        font-size: max(1.5em,2vw)
        text-transform: capitalize
        font-family: 'Montserrat', sans-serif

    p
        text-align: left
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif

    .price
        gap: .5em
        display: flex
        align-items: center
        justify-content: flex-start

        h3
            font-size: 2.6em
            font-weight: 900
            font-family: 'Fraunces'

        h4
            font-size: 0.8em
            color: var(--gray-blue)
            text-decoration: line-through

    button
        gap: 0.5em
        width: 100%
        border: none
        outline: none
        display: flex
        cursor: pointer
        padding: .6em 2em
        color: var(--white)
        align-items: center
        border-radius: .4em
        background: var(--cyan)
        justify-content: center

        img
            width: 1.2em
